<!DOCTYPE html>
<html>
	<head>
		<meta charset="uft-8">
		<title>Descrição de visitas</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
		<link href="/stylesheets/reset.css" rel="stylesheet">


	</head>
	<body>
		<%- include("../comum/header",{tipo:"visitas"}) %>

		<section class="container">
			<p class="botao_cadastro"><a href="/visitas/cadastro" class="botao">Descrição de visitas</a></p>

			<table class="tabela">
				<tr>
					<td class="campo">Nome do Paciente</td>
				</tr>
				<tr>
					<td class="campo">Endereço</td>	
					<td class="campo">Dia</td>	
					<td class="campo">Horas</td>	
					<td class="campo">Descrição</td>	
					<td class="campo">Excluir</td>	
					<td class="campo">Alterar</td>	
				</tr>
				<%
				for(i=0;i<registros.length;i++){
				%>
					<tr>
						<td><%= registros[i].nome %></td>	
						<td><%= registros[i].endereco %></td>	
						<td><%= registros[i].dia %></td>
						<td><%= registros[i].horas %></td>
						<td><%= registros[i].descricao %></td>
						<td><a onclick="excluirVisita(<%= registros[i].id %>)" href="#">excluir</a></td>
						<td><a href="/visitas/alterar?id=<%= registros[i].id %>">Alterar</a></td>
					</tr>
				<%	
				}
				%>	
			</table>
			
		</section>
		<%- include("../comum/footer") %>
		<%- include("../comum/javascripts") %>
	</body>
</html>