<!DOCTYPE html>
<html>
	<head>
		<meta charset="uft-8">
		<title>Cadastro</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
		<link href="/stylesheets/reset.css" rel="stylesheet">


	</head>
	<body>
		<%- include("../comum/header",{tipo:"usuario"}) %>
		<section class="container">
			<form action="<%= url %>"  method="post" onSubmit="return validarPaciente()">
				<table class="tabela">
					<tr>
						<td class="campo">Nome</td>
	              		<td><input type='text' id='nome' value='<%= paciente.nome %>' name='nome'/></td>
	              	</tr>
	              	<tr>
						<td class="campo">Sobrenome</td>	
	              		<td><input type='text' id='sobrenome' value='<%= paciente.sobrenome %>' name='sobrenome'/></td>
	              	</tr>
	              	<tr>
						<td class="campo">Endereco</td>	
	             		 <td><input type='text' id='endereco'value='<%= paciente.endereco %>' name='endereco'/></td>
	             	</tr>
	             	<tr>
	             		 <td class="campo">Telefone</td>
	              		<td><input type='text'  id='telefone' value='<%= paciente.telefone %>' name='telefone'/></td>
	              	</tr>
	              	<tr>
						<td class="campo">Login</td>	
	              		<td><input type='text' id='login' value='<%= paciente.login %>' name='login'/></td>
	              	</tr>
	              	<tr>
						<td class="campo">Senha</td>	
	             		<td><input type='text' id='senha' value='<%= paciente.senha %>' name='senha'/></td>
					</tr>		
				</table>
				<input type='submit' name='OK' value='enviar'/>
			</form>
		</section>
		<%- include("../comum/footer") %>
		<%- include("../comum/javascripts") %>
	</body>
</html>