<!DOCTYPE html>
<html>
	<head>
		<meta charset="uft-8">
		<title>Pacientes</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
		<link href="/stylesheets/reset.css" rel="stylesheet">


	</head>
	<body>
		<%- include("../comum/header",{tipo:"pacientes"}) %>

		<section class="container">
			<p class="botao_cadastro"><a href="/pacientes/cadastro" class="botao">Cadastrar Paciente</a></p>

			<table class="tabela">
				<tr>
					<td class="campo">Nome</td>
					<td class="campo">Sobrenome</td>	
					<td class="campo">Endereço</td>	
					<td class="campo">Telefone</td>	
					<td class="campo">Login</td>	
					<td class="campo">Senha</td>
					<td class="campo"></td>	
					<td class="campo"></td>	
				</tr>
				<%
				for(i=0;i<registros.length;i++){
				%>
					<tr>
						<td><%= registros[i].nome %></td>	
						<td><%= registros[i].sobrenome %></td>	
						<td><%= registros[i].endereco %></td>
						<td><%= registros[i].telefone %></td>
						<td><%= registros[i].login %></td>
						<td><%= registros[i].senha %></td>
						<td><a onclick="excluirPaciente(<%= registros[i].id %>)" href="#">excluir</a></td>
						<td><a href="/pacientes/alterar?id=<%= registros[i].id %>">Alterar</a></td>
					</tr>
				<%	
				}
				%>	
			</table>
			
		</section>
		<%- include("../comum/footer") %>
		<%- include("../comum/javascripts") %>
	</body>
</html>